Makefile.in
config.h.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
missing
Makefile
config.log
config.status
config.h
stamp-h1
/include/madwimax_version.h
/src/.deps/
/src/*.o
/src/wimax
